* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.home,
.philosophy,
.program,
.culinary,
.about,
.documents {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 64px;
}

.philosophy {
  background-image: url('/images/kids_at_circle_time.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.program {
  background-image: url('/images/kids_playing_in_playground.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.culinary {
  background-image: url('/images/meal.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about {
  background-image: url('/images/ms_ping.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.documents {
  background-image: url('/images/main_classroom.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-container {
  background-color: var(--olive-dark);
  padding: 20px;
}

/* Primary Colors */
:root {
  --green-base: #ABD897;
  --green-light: #43762D;
  --green-dark: #2A4A1C;

  --beige-base: #F2E6D8;
  --beige-light: rgba(242, 230, 216, 0.8);
  --beige-dark: rgba(212, 191, 167, 0.6);

  --blue-base: #C8E4F8;
  --blue-light: rgba(200, 228, 248, 0.8);
  --blue-dark: rgba(168, 203, 227, 0.6);

  --coral-base: #F9B3A4;
  --coral-light: rgba(249, 179, 164, 0.8);
  --coral-dark: rgba(216, 127, 106, 0.6);

  --olive-base: #94ad84;
  --olive-light: rgba(173, 202, 154, 0.8);
  --olive-dark: rgba(156, 178, 132, 0.6);

  /* Text Colors */
  --text-dark: #333333;
  --text-medium: #666666;
  --text-light: #999999;
  --text-muted: #B3B3B3;
}
